In [10]:
import MySQLdb
import pandas as pd

In [11]:
dsn_database = "demographic"
dsn_hostname = "georgetownanalyticscapstone.c50pz9jksixq.us-east-1.rds.amazonaws.com"
dsn_port = 3306
dsn_uid = "sanemkabaca"
dsn_pwd = "georgetowndmv"

In [12]:
db_connection = MySQLdb.connect(host=dsn_hostname, port=dsn_port, user=dsn_uid, passwd=dsn_pwd, db=dsn_database)

In [13]:
query = ("""SELECT * FROM demographic.age_sex LIMIT 10""")

In [14]:
df = pd.read_sql(query, con=db_connection)

In [16]:
df.head()

,geo_id,zip,geo_label,pop,pop_e,pop_m,pop_m_e,pop_f,pop_f_e,pop_under_5,...,m_pct_sex_imputed,m_pct_sex_imputed_e,f_pct_sex_imputed,f_pct_sex_imputed_e,pop_pct_age_imputed,pop_pct_age_imputed_e,m_pct_age_imputed,m_pct_age_imputed_e,f_pct_age_imputed,f_pct_age_imputed_e
0,8600000US20001,20001,ZCTA5 20001,43731,1438,21018,1118,22713,886,4,...,None,None,None,None,2,None,None,None,None,None
1,8600000US20002,20002,ZCTA5 20002,57412,1600,27707,1045,29705,1124,6,...,None,None,None,None,3,None,None,None,None,None
2,8600000US20003,20003,ZCTA5 20003,28538,756,15194,669,13344,590,6,...,None,None,None,None,2,None,None,None,None,None
3,8600000US20004,20004,ZCTA5 20004,1667,221,882,137,785,134,4,...,None,None,None,None,0,None,None,None,None,None
4,8600000US20005,20005,ZCTA5 20005,12947,701,6920,636,6027,552,3,...,None,None,None,None,1,None,None,None,None,None

In [17]:
import sklearn